<div>
  <div class="h3 text-center">Сервис генерации тестов moodle</div>
  <div>(<a href="https://www.youtube.com/watch?v=YqENe_XT6l8">идея Д.В. Пятницкого</a>)</div>
  <div>Сервис конвертирует файл с набором вопросов из формата markdown в <a href="https://docs.moodle.org/311/en/Moodle_XML_format">формате Moodle XML</a> для автозагрузки в систему moodle</div>
  <div>(<a href="https://codebeautify.org/markdown-viewer?url=https://gist.githubusercontent.com/kontur32/3b3d0bb363bb8bd3869313b60d3529c9/raw/ac633bb1c9e2062d3d589a3302660a9aeb0b6ff9/exapmle-quiz-moodle.md" target="_blank">пример исходного файла в формате markdown</a>)</div>
  <div class="py-3">
  <form class="form-inline" action="/simplex/render/md-to-moodle" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <input name="file" type="file" class="form-control-file"/>
    </div>
    <input type="submit" class="btn btn-primary mb-2"/>
  </form>
  </div>
  <div>{{ссылка}}</div>
  {{содержание}}
</div>