<div>
  <div class="h3 text-center">Калькулятор расчета суммы за пользование денежными средствами</div>
  <div>Сервис предназначен для определения суммы к взысканию за пользование денежными средствами</div>
  <div>
    <ul>
      <li>
        <a href="https://vk.com/video4302352_456239082" target="_blank">короткое видео об этом сервисе</a>
      </li>
      <li>
        <a href="https://disk.yandex.ru/i/5GBzcOUO0ml4PQ" target="_blank">пример исходного файла в формате excel</a>
      </li>
    </ul>
  </div>
  <div class="py-3">
    <form class="form-inline" action="/simplex/court-calc/procenti-za-polzovanie" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input name="file" type="file" accept=".xlsx" class="form-control-file"/>
      </div>
      <input type="submit" class="btn btn-primary mb-2"/>
    </form>
  </div>
  
  <div>{{ссылка}}</div>
  <div>{{содержание}}</div>
</div>